[run]
omit =
    */tests/*
    */venv/*
    */.venv/*
    */__init__.py
    */src/data/accel/accelerometer.py
    */src/data/accel/aligner.py
    */src/functions/natural_freq.py
    */src/methods/packages/*
    */src/examples/*

[report]
exclude_lines =
    if __name__ == .__main__.:
    pragma: no cover