{
    "MQTT": {
        "host": "test.mosquitto.org",
        "port": 1883,
        "userId": "",
        "password": "",
        "ClientID": "test_client_id",
        "QoS": 1,
        "TopicsToSubscribe": ["cpsens/DAQ_ID/MODULE_ID/Sensor1/acc/raw/data"]
    }
}
