{
    "MQTT": {
        "host": "test.mosquitto.org",
        "port": 1883,
        "userId": "",
        "password": "",
        "ClientID": "dual_client",
        "QoS": 1,
        "TopicsToSubscribe": ["cpsens/DAQ_ID/MODULE_ID/Sensor1/acc/raw/data","cpsens/DAQ_ID/MODULE_ID/Sensor2/acc/raw/data"]
    }
}
