{
    "MQTT": {
        "host": "",
        "port": 0,
        "userId": "",
        "password": "",
        "ClientID": "ReplaySubscriber",
        "QoS": 1,
        "TopicsToSubscribe": {
            "cpsens/d8-3a-dd-37-d2-7e/3050-A-060_sn_106209/1/acc/raw/data": "acc1",
            "cpsens/d8-3a-dd-37-d2-7e/3050-A-060_sn_106209/1/acc/raw/metadata": "metadata1",
            "cpsens/d8-3a-dd-37-d2-7e/3050-A-060_sn_106209/2/acc/raw/data": "acc2",
            "cpsens/d8-3a-dd-37-d2-7e/3050-A-060_sn_106209/3/acc/raw/data": "acc3",
            "cpsens/d8-3a-dd-37-d2-7e/3050-A-060_sn_106209/4/acc/raw/data": "acc4"
        },
        "TopicsToPublish": {
            "acc1": "cpsens/recorded/1/data",
            "metadata1": "cpsens/recorded/1/metadata",
            "acc2": "cpsens/recorded/2/data",
            "acc3": "cpsens/recorded/3/data",
            "acc4": "cpsens/recorded/4/data"
        }
      }
}


