{
    "MQTT": {
        "host": "",
        "port": 0,
        "userId": "",
        "password": "",
        "ClientID": "ReplaySubscriber",
        "QoS": 1,
        "TopicsToSubscribe": {
            "cpsens/x/y/1/acc/raw/data": "acc1",
            "cpsens/x/y/1/acc/raw/metadata": "metadata1",
            "cpsens/x/y/2/acc/raw/data": "acc2",
            "cpsens/x/y/3/acc/raw/data": "acc3",
            "cpsens/x/y/4/acc/raw/data": "acc4"
        },
        "TopicsToPublish": {
            "acc1": "cpsens/recorded/1/data",
            "metadata1": "cpsens/recorded/1/metadata",
            "acc2": "cpsens/recorded/2/data",
            "acc3": "cpsens/recorded/3/data",
            "acc4": "cpsens/recorded/4/data"
        }
      },
    
    "sysid": {
        "host": "",
        "port": 0,
        "userId": "",
        "password": "",
        "ClientID": "NOT_NEEDED",
        "QoS": 1,
        "SamplesToCollect": 2560,
        "MetadataToSubscribe": ["cpsens/recorded/1/metadata"],
        "TopicsToSubscribe": [
            "cpsens/recorded/1/data",
            "cpsens/recorded/2/data",
            "cpsens/recorded/3/data",
            "cpsens/recorded/4/data"
        ],
        "TopicsToPublish": ["cpsens/recorded/sysid/data"]
      },

    "mode_cluster": {
      "host": "",
      "port": 0,
      "userId": "",
      "password": "",
      "ClientID": "NOT_NEEDED",
      "QoS": 2,
      "TopicsToSubscribe": ["cpsens/recorded/sysid/data"],
      "TopicsToPublish": ["cpsens/recorded/mode_cluster/data"]
    },

    "model_update": {
      "host": "",
      "port": 0,
      "userId": "",
      "password": "",
      "ClientID": "NOT_NEEDED",
      "QoS": 2,
      "TopicsToSubscribe": ["cpsens/recorded/mode_cluster/data"],
      "TopicsToPublish": ["cpsens/recorded/model_update/data"]
    },

    "virtual_sensing": {
      "host": "",
      "port": 0,
      "userId": "",
      "password": "",
      "ClientID": "NOT_NEEDED",
      "QoS": 2,
      "SamplesToCollect": 2560,
      "MetadataToSubscribe": ["cpsens/recorded/1/metadata"],
      "TopicsToSubscribe": [
            "cpsens/recorded/1/data",
            "cpsens/recorded/2/data",
            "cpsens/recorded/3/data",
            "cpsens/recorded/4/data"
        ],
      "TopicsToPublish": ["cpsens/recorded/virtual_sensing/data"]
    },

    "stress": {
      "host": "",
      "port": 0,
      "userId": "",
      "password": "",
      "ClientID": "NOT_NEEDED",
      "QoS": 2,
      "TopicsToSubscribe": ["cpsens/recorded/virtual_sensing/data"],
      "TopicsToPublish": ["cpsens/recorded/stress/data"]
    },

    "fatigue": {
      "host": "",
      "port": 0,
      "userId": "",
      "password": "",
      "ClientID": "NOT_NEEDED",
      "QoS": 2,
      "TopicsToSubscribe": ["cpsens/recorded/stress/data"],
      "TopicsToPublish": []
    }
}


