{
    "sysid": {
        "host": "",
        "port": 0,
        "userId": "",
        "password": "",
        "ClientID": "ReplaySubscriber",
        "QoS": 1,
        "MetadataToSubscribe": ["cpsens/recorded/1/metadata"],
        "TopicsToSubscribe": [
            "cpsens/recorded/1/data",
            "cpsens/recorded/2/data",
            "cpsens/recorded/3/data",
            "cpsens/recorded/4/data"
        ],
        "TopicsToPublish": ["cpsens/recorded/sysid/data"]
      }
}


